body {
    background-color: #88EDCF;
}
.contained {
    background-color: white;
}

.greenish {
    background-color: #88EDCF;
    
}

.greyish {
    background-color: #eeeeee;
    border: 1px solid rgb(181, 177, 177);
    padding: 15px;         
    font-size: 13px;
    
}

.greyish a {
    text-decoration: underline;
}

form > div {
    border: 1px solid rgb(181, 177, 177);
}

.form-control {
    background-color: rgb(218, 213, 213);
    border: none;  
    border-radius: 0;
}


.col-form-label > i {
    color: rgb(247, 70, 70);
    font-size: 0.01rem;
    position: absolute;
    margin-top: 3px;
    padding: 5px;
  }

