body {
    background-color: #88EDCF;
}
.contained {
    background-color: white;
}

.greenish {
    background-color: #88EDCF;
    
}

.greyish {
    background-color: #eeeeee;
    border: 1px solid rgb(181, 177, 177);
    padding: 15px;         
    font-size: 13px;
    
}

.greyish a {
    text-decoration: underline;
}

form div {
    border: 1px solid rgb(181, 177, 177);
}

.form-control {
    background-color: #f7f8fb;
}