body {
    background-color: #88EDCF;
}
.contained {
    background-color: white;
}

.greenish {
    background-color: #88EDCF;
    
}

.col-form-label {
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.form-control {
    background-color: #eeeeee;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    
}