.navbar {
    background-color: white !important;
}

.tiles{
    background-image: url(/images/pattern-background.jpg);
    
}

.inLine {
    font-size: 18px;
}

.imgDiv >img {
    margin: 0 auto;
    display: block;
}

.fa-check {
    color: red;
    margin-right: 4px;
}

.bluish {
    background: #E4F9F5;
}

.card > p {
    font-size: 14px;
}