.navbar {
    background-color: white !important;
    border-bottom: 1px solid #eeeeee;

}

.tiles{
    background-image: url(/images/pattern-background.jpg);
    
}

.inLine {
    font-size: 18px;
}

.imgDiv >img {
    margin: 0 auto;
    display: block;
}

.fa-check {
    color: red;
    margin-right: 4px;
}

.bluish {
    background: #E4F9F5;
}

.card > p {
    font-size: 14px;
}

.tiles h1 {
    font-size: 3.0rem;
}

.pink {
    color: #fe7e8a;
}

.gold {
    color: #ebc97a;
}

.dk-green {
    color: #4e6532;
}

.lt-green {
    color: #219988;
}

.upload {
    background: #E4F9F5;
}

.btn-green {
    background-color: #219988;
    font-size: 13px;
}

.text-div {
    background-color: #fe7e8a
  
}

.footer {
background: linear-gradient(24deg,#40514e,#40514e 50%,#219988);
/*padding: 40px 10px 10px 85px;*/
font-size: 13px;
}

.bigger {
    font-size: 14px;
}


@media (max-width: 740px) {
    .small-header {
        font-size: 18px;   }
}
